@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.work-sans-uniquifier {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
/* header Getting error */
.header{
    background-image: url(images/developer.png),url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    /* background-position: center left , bottom right; */
    /* background-size: contain;
    /* height: 95vh; */
    /* padding-right: 0px;
    margin-left: 23px; */ 
    /* margin-top: ; */
}

/* Shered code */
.secondary-bg{
    background-color: #fff8f3;
}
.color-a{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    padding: 18px 30px;
    border-radius: 5px;
    text-decoration: none;
    border: 0;
}
.btn-primary:hover {
    box-shadow: 0 0 10px #FD6E0A, 0 0 20px #FD6E0A, 0 0 30px #FD6E0A;
  }

  .btn{
    margin-right: 20px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.section-description{
    margin-top: 20px;
    /* margin-bottom: ; */
    font-size: 20px;
    color: #757575;
}

/* NAV bar  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}

.nav-title{
    font-weight: 800;
    font-size: 40px;
}
nav ul{
    display: flex;
    align-items: center;
    /* margin: 0 20px; */
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    /* font-weight: 300;
    margin: 0 10px; */
}

/* Banner Section */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 230px;

}
.banner-content{
    max-width: 580px;
    /* margin-left: -100px;
    margin-top: 5px;
    margin-bottom: 5px; */
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    /* margin: 50px 200px; */
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
    /* font-size: 60px;
    font-weight: 800;
    margin: 20px 0; */
}
.banner-description{
    font-size: 20px;
    color: #757575;
    margin-top: 20px;
}
.banner-profile-pic{
    max-width: 584px;
    /* height: 621px; */
    
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* ----------About---------- */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;}
.about-section {
    /* /* background-color: #fff; */
    border-radius: 10px;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;          
    margin: 20px auto;      
    max-width: 800px;       
    text-align: center;     
}
    

.item-title{
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}
.item-description{
    font-weight: 600;
}

/* skill section */
.skills-container{
    display: flex;
    gap: 24px;
}

 .skill{
    padding: 30px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} 
.skill:hover {
    /* border: 2px solid #FD6E0A;
    box-shadow: 0px 6px 50px 0px rgba(253, 110, 10, 0.3); */
    transform: translateY(-10px);
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
  }
  .skill-title{
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
  }
/* Hover Effect */
 /*  */

/* Resume section*/
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description, .experience-sub-title{
    color: #757575;
}
.resume hr{
    margin: 30px 5px;
}

.resume-download-cv{
    margin-top: 50px;
}
 /*------ Footer----------*/
 footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}

footer input[type="text"],  footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}